.registercontainer{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
}

.registerleftSubContainer{
    background: #17A2B8;
    width: 60vw;
    height: auto;
}

.registercircleImage{
    position: relative;
    width: 18rem;
    height: 18rem;
    /* top: 12rem;
    left: 22rem; */
    top: 10rem;
    left: 16rem;
}

.registerrobotImage{
    position: relative;
    width: 13rem;
    height: 17rem;
    /* top: 15rem; */
    /* left: 6rem; */
    top:12rem;
}

.registerwelcomeMessage{
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    /* line-height: 66.15px; */
    text-align: center;
    position: relative;
    top: 14rem;
    color: #FFFFFF;
}

.registerwelcomeMessage span{
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}

.registerrightSubContainer{
    background: #FFFFFF;
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerrightSubContainer h2{
    width: 6rem;
    height: auto;
    padding: 0 0 3rem 0rem;
    gap: 1rem;
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 33.08px;
    font-weight: 600;
    line-height: 45.04px;
    text-align: left;
    color: #343434;

}

.existAccount{
    font-family: "Open Sans", sans-serif;
    font-size: 19.29px;
    font-weight: 400;
    line-height: 26.28px;
    text-align: left;
    color: #828282;
}

.loginButton{
    width: 29rem;
    height: auto;
    /* margin:2rem 0 0 0; */
    padding: 0.7rem;
    border-radius: 1rem;
    font-family: "Open Sans", sans-serif;
    border: 1.38px solid #17A2B8;
    font-size: 19.29px;
    font-weight: 400;
    line-height: 26.28px;
    text-align: center;
    color: #17A2B8;
    cursor: pointer;
}