.todoHeading{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.actionButton{
    display:flex;
    flex-direction: row;
    gap:1rem;
}

.todoHeading p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #000000;
}